{% extends 'base.html' %} {% block content %}

<!-- Main Section Start -->
<div class="main-section border-top">
  <div
    style="
      margin-top: 0px;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-bottom: 0px;
	 width: 90%;
	 margin: auto;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="user-dashboard loader-holder">
            <div class="user-holder">
              <h4 class="text-center" style="margin-bottom: 0">
                WELCOME TO FOOD BAKERY
              </h4>
              <p class="text-center">
                Please fill this form to get yourself onboarded in the
                Food Bakery marketplace.
              </p>
              <hr />
              <div id="restaurant-sets-holder">
                <form
                  class="form-fields-set foodbakery-dev-restaurant-form"
                  method="POST"
                  action="{% url 'registerUser' %}"
                >
                  {%csrf_token %}
                  <div class="container">
                    <ul class="ps-0">
                      <li class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2">
                          <div class="field-holder">
                            <label for="first_name" class="form-label fw-semibold"
                              >First Name</label
                            >
                            {{form.first_name}}
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2">
                          <div class="field-holder">
                            <label for="last_name" class="form-label fw-semibold"
                              >Last Name</label
                            >
                            {{form.last_name}}
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2">
                          <div class="field-holder">
                            <label for="email" class="form-label fw-semibold"
                              >Email Address</label
                            >
                            {{form.email}}
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2">
                          <div class="field-holder">
                            <label for="username" class="form-label fw-semibold"
                              >Username</label
                            >
                            {{form.username}}
                          </div>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2">
                          <div class="field-holder">
                            <label for="password" class="form-label fw-semibold"
                              >Password</label
                            >
                            {{form.password}}
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2">
                          <div class="field-holder">
                            <label for="confirm_password" class="form-label fw-semibold"
                              >Confirm Password</label
                            >
                            {{form.confirm_password}}
                          </div>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
                          <div class="field-holder">
                              <input
                                type="submit"
                                value="Submit"
                                class="btn btn-danger px-3"
                              />
                          </div>
                        </div>
				    <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					    <!-- Load message -->
					    {% include 'includes/alerts.html' %}
					</div>
				 </div>
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->
{% endblock %}
