{% load static %}
<div class="container mt-1 mb-4 d-flex align-items-center"
     style="height: 160px; background: url({% if vendor.user_profile.cover_photo %} {{ vendor.user_profile.cover_photo.url }} {% else %} {% static 'images/default-cover.png' %}{% endif %}) no-repeat 0 0 / cover;">
    <div class="col-12">
        <div class="user-dashboard loader-holder row justify-content-center">
            <div class="user-holder d-flex justify-content-center align-items-center">
                <div>
                    {% if vendor.user_profile.profile_picture %}
                    <img src="{{ vendor.user_profile.profile_picture.url }}" alt="" class="profile-picture">
                    {% else %}
                    <img src="{% static 'images/default-profile.png' %}" alt="" class="profile-picture">
                    {% endif %}
                </div>
                <div class="text-white">
                    <h4 class="text-center" style="margin-bottom: 0">{{ vendor.vendor_name }}</h4>
                    <p class="text-center"><i class="fa-solid fa-location-dot"></i>
                        {{ vendor.user_profile.full_address }}
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>