<style>
    .card ul li:hover {
        color: red;
        cursor: pointer;
    }
    .list-group-item {
        font-weight: bold;
        color: #6c757d;
    }
</style>
<div class="card">
    <div class="card-header fw-bold text-primary">
        <i class="fa-solid fa-gauge"></i>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa-solid fa-bars"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile Setting</li>
        <li class="list-group-item"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;&nbsp;&nbsp;My Order</li>
        <li class="list-group-item"><i class="fa-solid fa-lock"></i>&nbsp;&nbsp;&nbsp;&nbsp;Change Password</li>
        <li class="list-group-item"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign Out
        </li>
    </ul>
</div>