<style>
    .list-group-item a {
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #6c757d;
    }

    .list-group-item a:hover {
        color: red;
        cursor: pointer;
    }
</style>
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item ">
            <a href="{% url 'customer' %}"
               class="{% if 'custDashboard' in request.path or '/customer/' == request.path %}text-danger{% endif %}">
                <i class="fa-solid fa-gauge"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tổng Quan</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'customer_profile' %}"
               class=" {% if 'profile' in request.path %}text-danger{% endif %}"><i
                    class="fa-solid fa-bars"></i>&nbsp;&nbsp;&nbsp;&nbsp;Thông Tin Tài Khoản</a></li>
        <li class="list-group-item"><a href="{% url 'my_orders' %}"
                                       class=" {% if 'my_orders' in request.path or 'order_detail' in request.path %}text-danger{% endif %}"><i
                class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;&nbsp;&nbsp;Đơn Hàng</a>
        </li>
        <li class="list-group-item"><a href="{% url 'logout' %}"><i
                class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;&nbsp;Đăng Xuất</a>
        </li>
    </ul>
</div>