{% load static %}
<!-- Header Start -->
<div class="container py-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light-subtle">
    <div class="container-fluid d-flex align-items-center">
      <div class="d-flex align-items-center pe-3">
        <figure class="align-center my-0">
          <a href="{% url 'home' %}">
            <img
              class="img-thumbnai"
              src="{% static 'extra-images\main-logo.png' %}"
              alt="FoodOnline"
              width="180"
            />
          </a>
        </figure>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item dropdown" style="width: 250px">
            <!-- Example single danger button -->
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-outline-danger dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                CHOOSE LOCATION
              </button>
              <ul class="dropdown-menu w-100">
                <li class="dropdown-item py-2">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fas fa-location"></i
                    ></span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="All Location"
                      aria-label="All Location"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </li>
                <li class="dropdown-item py-2 border-top border-bottom">
                  Popular Locations
                </li>
                <li class="dropdown-item py-2">
                  <a class="text-decoration-none text-dark" href="#"
                    >Another action</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <form class="d-flex gap-2">
          <a class="btn btn-success" href="#">Login</a>
          <a class="btn btn-warning text-white" href="{% url 'registerUser' %}"
            >User Register</a
          >
          <a class="btn btn-danger" href="{% url 'registerVendor' %}"
            >Vendor Register</a
          >
        </form>
      </div>
    </div>
  </nav>
</div>
<!-- Header End -->
